<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>FREEDOM Apps</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
<div class="container">
       <header class="header">
          <div>
             <h1>FREEDOM</h1>
          </div>       
       </header>    
       <a href="#" id="menu" class=" ikon header__menu" aria-label="navigation-menu">☰</a>
    <nav id="drawer"  class="nav">
        <ul class="nav__ul">
            <li class="nav__li"><a href="/">Home</a></li>
            <li class="nav__li"><a href="#">Favorite</a></li> 
            <li class="nav__li"><a href="https://github.com/sufiansyah" target='_blank'>About Us</a></li>           
        </ul>
    </nav>
</div>
<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Jangan berkata kalau belum membuktikannya</h1>
        <p class="hero__tagline">Jadilah penikmat kuliner sejati</p>
    </div>
</div>
<main id="maincontent">
    <section class="content">
        <div id="maincontent">
        <div class="posts" id="rest">
        </div>
        </div>

</main>
<footer>
    <p>Copyright © 2021 - Freedom Apps</p>
</footer>
</body>
</html>
